.main {
    padding: 20px;
}

/* about bakery section */
h1{
    font-size: 2.1em;
}

section {
    padding: 2em;
    margin-top: 1em;
}

.bakery-image {
    width: 50%;
    float: left;
    height: auto;
    border-radius: 0.8em;
    margin-right: 2em;
    margin-bottom: 1.2em;
}

.about-us-text {
    line-height: 1.6;
}

.subtitle{
    font-style: italic;
    font-size: 1.15em;
}

p{
    font-family: Georgia, Times, 'Times New Roman', serif;
}

/*staff srction*/

.staff-member-container{
    position: relative;
    display: flex;
    margin-top: 4em;
}

.staff-members-scroll{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1em;
    scroll-behavior: smooth;
}

.scroll-button{
    height: 2em;
    font-size: 2.5em;
    top: 50%;
    background-color: rgb(132, 118, 221);
    align-self: center;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

/* buttons to apear in small screens */
.in-row{
    display: none;
}

.staff-member {
    display: none;
    text-align: center;
    margin-inline: 3em;
    margin-bottom: 0.5em;
    scroll-snap-align: start;
}

.staff-photo {
    width: 25em;
    height: 25em;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1em;
}

.name{
    margin: 0;
    font-size: 2em;
    color: #333;
}

.role{
    color: #666;
    font-size: 1em;
    line-height: 1.4;
}

.description{
    font-size: 1em;
}

/* improvmentsd for smaller sceens */
@media (max-width: 768px) {
    .bakery-image{
        width: 100%;
        float: none;
    }
    .scroll-button {
        height: 2em;
        font-size: 1.8em;
    }
    .name{
        font-size: 1em;
    }
    .role, .description {
        font-size: 0.8em;
    }
    
}

@media (max-width: 660px) {
    .staff-member{
        margin-inline: 5%;
    }
    .staff-photo{
        width: 75vw;
        height: 75vw;
    }
    .scroll-button {
        height: 2em;
        font-size: 1.7em;
    }
    .staff-members-scroll{
        scroll-padding-inline: 7%;
    }
}

@media (max-width: 590px) {
    .staff-member-container{
        display: block;
        text-align: center;
    }
    .staff-member{
        margin-inline: 3em;
    }
    .staff-members-scroll{
        scroll-padding-inline: 7%;
    }
    .scroll-button{
        height: 1.8em;
        font-size: 1.4em;
    }
    .in-row{
        display: inline-block;
    }
    .by-sides{
        display: none;
    }
}