h1{
    margin: 0.5em;
}
h1, h2 {
    color: #333333
}

.form-section {
    margin: 1.5em;
    padding: 1em;
    background-color: #d9e3da;
    border-radius: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

select, input[type="text"] {
    width: 100%;
    padding: 1em;
    margin: 1.5em 0;
    border-radius: 1em;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
}

.radio, .topping {
    margin: 1em;
    cursor: pointer;
}

#customWritingInput, #customFlavor{
    display:none;
    margin-top: 1em;
}

.label, .writing-label, .flavor-label {
    font-size: 1.2em;
    margin-left: 0.3em;
    cursor: pointer;
}

.input-button-container{
    text-align: center;
}

#inputButton {
    background-color: #c3d1f8;
    color: #333;
    font-size: 1em;
    padding: 1em 2em;
    margin: 1em;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#inputButton:hover {
    background-color: #2c5ced;
    color: #ffffff;
}

#inputButton:disabled,
#inputButton[disabled]{
  background-color: #cccccc;
  color: #666666;
}

#priceDisplaySection {
    background-color: #f0ead6; /* Lighter shade for distinction */
    color: #333;
    margin: 2em;
    padding: 1em;
    border-radius: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#cakePrice {
    font-size: 1.5em;
    color: #547aed; /* Highlight color for the price */
    font-weight: bold;
}

.form-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(42%, 1fr)); /* a responsive grid */
    gap: 1rem; /* space between grid items */
}


@media (max-width: 768px) {
    #priceDisplaySection {
        margin: 1em;
        padding: 0.5em;
        font-size: 0.8em;
    }
    #cakePrice{
        font-size: 1.3em;
    }
    .form-section {
        margin: 1em;
    }
    .form-container{
        grid-template-columns: 1fr;
    }
}