.contact-section {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.15em;
    display: flex;
    padding: 2.5em;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.bold{
    font-weight: bold;
}
.contact-section h1 {
    text-align: center;
    margin-bottom: 1.2em;
}
.contact{
    align-self: center;
    margin-right: 5em;
}

.contact-info .numbers a,
.contact-info p a {
    color: #0000ff;
    text-decoration: none;
}

.phone{
    display: flex;
    align-items: baseline;
}

.numbers{
    margin-left: 0.4em;
}
.contact-info p a:hover{
    color: #8a2be2;
}
.opening-hours{
    display: flex;
}
.week-day{
    font-style: italic;
}
.hours{
    margin-left: 0.4em;
}

.map{
    width: 40%;
    height: 50vh;
}

.contact-info p {
    margin: 1em 0;
}

@media (max-width: 1150px){
    .contact-section{
        font-size: 1em;
    }
}

@media (max-width: 1000px){
    .contact-section{
        font-size: 1.1em;
        flex-direction: column;
    }
    .contact{
        margin-right: unset;
        margin-bottom: 3em;
    }
    .map{
        width: 90%;
    }
}

@media (max-width: 660px){
    .contact-section{
        font-size: 1em;
        padding: 1.2em;
    }
    .map{
        width: 100%;
    }
}