body{
    margin: 0;
    padding: 0;
    background-color:#faebd7;
}

/* Top Navigation */

header{
    width: 100%;
    background-color: #faebd7;
    border-bottom: 0.5px solid #414141;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

#brand-logo img{
    width: 170px;
}

#cart-icon svg{
    height: 2em;
    display: inline-block;
}
.header-icon-container a:hover svg{
    fill: #07783c;
}

.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 1em;
    display: inline-block;
    font-size: 3.5vh;
}

.nav-item a {
    color: rgb(115, 3, 98);
    text-decoration: none;
}

.nav-item a:hover {
    color: #07783c;
}

.active a{
    color: rgb(227, 97, 46);
}